<div class="flexBox">

  <Frame height="350px" width="300px" bgstyle="white" />
  <Frame height="190px" width="250px" bgstyle="green" />
  <Frame height="300px" width="300px" />
  <Frame height="200px" width="400px" />
  <Frame height="400px" width="290px" />
  <Frame height="150px" width="160px" />


</div>


<!-- Import the counter component! -->
<script>
  import Counter from './Counter.html';
  import Frame from './Frame.html';

  export default {
    components: {
      Counter,
      Frame
    }
  };
</script>

<!-- Include styles -->
<style>
  :root {
    background-color: #f4f5f2;
  }

  h1,
  h2 {
    font-weight: 300;
    font-family: Lato;
  }

  .logo-font {
    text-transform: lowercase;
    font-size: 2.5rem;
    font-family: 'Rajdhani', sans-serif;
    color: #aa1e1e;
  }

  .flexBox {
    display: flex;
    gap: 60px;
    margin: 100px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    align-content: center;
  }

  :global([bgstyle=white]) {
    background-color: white;
  }

  :global([bgstyle=green]) {
    background-color: green;
  }
</style>